<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.jt.sso.mapper.UserMapper">
	<!-- 一个SQL支持三个变量查询 user/phone/email -->
	<select id="queryUserCheck" parameterType="map" resultType="int">
		SELECT count(id) 
		FROM tb_user
		WHERE ${name} = #{val}
	</select>
</mapper>