<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
		
	<!-- httpClient 配置文件 -->
		
	<!-- 定义httpclient连接池 -->
	<bean id="httpClientConnectionManager" class="org.apache.http.impl.conn.PoolingHttpClientConnectionManager">
		<!-- 设置连接总数 -->
		<property name="maxTotal" value="${http.pool.maxTotal}"></property>
		<!-- 设置每个地址的并发数 -->
		<property name="defaultMaxPerRoute" value="${http.pool.defaultMaxPerRoute}"></property>
	</bean>
	
	<bean id="httpClientBuilder" class="org.apache.http.impl.client.HttpClientBuilder">
		<property name="connectionManager" ref="httpClientConnectionManager"></property>
	</bean>
	
	<!-- 得到httpClient的实例 -->
	<bean id="httpClient" factory-bean="httpClientBuilder" factory-method="build"/>	
	
	<!-- 定期清理无效的连接 -->
	<bean class="com.jt.common.util.IdleConnectionEvictor" destroy-method="shutdown">
		<constructor-arg index="0" ref="httpClientConnectionManager"/>
		<!-- 间隔10分钟清理一次 -->
		<constructor-arg index="1" value="600000"/>
	</bean>
	
	<!-- 定义requestConfig的工厂 -->
	<bean id="requestConfigBuilder" class="org.apache.http.client.config.RequestConfig.Builder">
		<!-- 从连接池中获取到连接的最长时间 -->
		<property name="connectionRequestTimeout" value="${http.request.connectionRequestTimeout}"/>
		<!-- 创建连接的最长时间 -->
		<property name="connectTimeout" value="${http.request.connectionTimeout}"/>
		<!-- 数据传输的最长时间 -->
		<property name="socketTimeout" value="${http.request.socketTimeout}"/>
		<!-- 提交请求前测试连接是否可用 -->
		<property name="staleConnectionCheckEnabled" value="${http.request.staleConnectionCheckEnabled}"/>
	</bean>
	
	<!-- 得到requestConfig实例 -->
	<bean id="requestConfig" factory-bean="requestConfigBuilder" factory-method="build"/>
		
</beans>